body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: $gray-darker;
  font-weight: 200;
  letter-spacing: 1px;
}

// .content {
//   margin-top: 50px;
//   margin-bottom: 50px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   background-color: $white;
// }